html{
    margin: 0;
    padding: 0;
    width: 100%;
}
h1{
    margin: calc(100%/12) calc(100%/12) 0 calc(100%/12);;
}
.table {
    margin: 2% calc(100%/12);
}
.left{
    width: 60%;
}
.left h2{
    background-color: rgb(230, 230, 230);
    width: 85%;
}
.right{
    width:40%;
    border:1px solid green;
    background-color: rgb(240, 238, 238);
    text-align: center;
}
button{
    margin: 1% calc(100%/12);
}