#breadcrumb li{
    list-style-type: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    
    margin: 50px calc(100%/12) 0 calc(100%/12);
}
.breadcrumb> li{
    display: inline-block;
    font-size: 20px;
}
.container .a{
    color: black;
}
.container h2{
    margin-top: 30px;
}
.container .a:hover{
    color: #D69854;
}
.container p{
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.container.ho{
    margin-bottom: 20px;
}
td{
    font-size: 1.4rem;
}
tr th{
    font-size: 1.4rem;
}
