.container {
    float: left;
    text-indent: 5px;
    width: 100%;
}

.img{
    display: inline-block;
    margin-left: calc(100%/12);
}
.container ul {
    float: left;
    list-style: none;
}
.container ul li {
    position: relative;
    float: left;
    font-weight:bold;
}
.container ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.container li a:hover {
    color: green;
}
.container li ul {
    position: absolute;
    display: none;
    width: 10em;
}

.container li:hover ul {
    display: block;
}
.container ul li ul li {
    width: 10em;
    border: 0.5px solid #726455;
    background-color: #fff;
    line-height: 1.6;
}
.container-menu .mainmenu{
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 20px;
    display: table;
}